body{
margin:0;
font-family:sans-serif;
}

header{
background:#1d3557;
color:white;
padding:15px;
}

.controls{
padding:10px;
display:flex;
gap:10px;
flex-wrap:wrap;
background:#f1f1f1;
}

#stats{
padding:10px;
font-weight:bold;
}

#map{
width:100%;
height:80vh;
}